openai
tiktoken
requests
emoji
discord.py
asyncio
beautifulsoup4
google-api-python-client
json
datetime
logging
base64
Pillow
io
random
socket
subprocess
sseclient
better-profanity
youtube-transcript-api
APScheduler
pytz
websocket-client
uuid
urllib3
python-dotenv
